/**********************************以下为全局样式****************************************/
html {
    margin: 0;
    padding: 0;
    border: 0;
    overflow:scroll;
    overflow-x: hidden;
    list-style-type: none;
}
body{
    font-family:'微软雅黑','宋体',serif;
    text-align:center;
}
/**********************************以下为****************************************/
#main{
    border: 1px;
    border-color: #2aabd2;
    border-style: solid;
    height: 502px;
    width: 702px;
    margin: 0 auto;
    margin-top: 20px;
}
#leftregion{
    height: 500px;
    width: 200px;
    float: left;
}
#plotregion{
    height: 200px;
    width: 200px;
    background: #cbefff;
    float: left;
    text-align: left;
}
#fcregion{
    height: 300px;
    width: 200px;
    float: left;
}
.nav>li{
    width: 33.33%;
}
.nav>li>a {
    padding-top: 0px;
    height: 20px;
    line-height: 20px;
}
.fc{
    height: 280px;
    width: 200px;
    display: none;
}

#rightregion{
    height: 500px;
    width: 500px;
    float: left;
}

#scene{
    height: 330px;
    width: 500px;
    float: left;
}
#fcbtview{
    height: 20px;
    width: 500px;
    float: left;
    background: #2aabd2;
}
#Event{
    height: 150px;
    width: 500px;
    background: #cbefff;
    float: left;
}
.contP{
    color: #000000;
}
#bar{
    height: 5px;
    width: 0%;
    background: #ffff00;
}
.items{
    display: block;
    font-size:16px;
    width: 50px;
    height: 25px;
    margin-left: 10px;
    float: left;
}
td{
    text-align: left;
}
.btn-group{
    height: 50px;
}
.btn-group>button{
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding-top: 0;
}
