/**********************************以下为全局样式****************************************/
html {
    margin: 0;
    padding: 0;
    border: 0;
    overflow:scroll;
    overflow-x: hidden;
    list-style-type: none;
}
body{
    font-family: PingFangSC-Regular, Verdana, Arial, '微软雅黑','宋体', serif;
    text-align:center;
}
/**********************************以下为****************************************/
#main{
    height: 500px;
    width: 700px;
    background: #999999;
    margin: 0 auto;
    margin-top: 20px;
}
#leftregion{
    height: 500px;
    width: 200px;
    float: left;
}
#plotregion{
    height: 200px;
    width: 200px;
    background: #777777;
    float: left;
    text-align: left;
}
#fcregion{
    height: 300px;
    width: 200px;
    float: left;
}
.nav>li{
    width: 33.33%;
}
.nav>li>a {
    padding-top: 0px;
    height: 20px;
    line-height: 20px;
}
.fc{
    height: 280px;
    width: 200px;
    display: none;
}

#rightregion{
    height: 500px;
    width: 500px;
    float: left;
}

#rightopregion{
    height: 300px;
    width: 500px;
    background: #999999;
    float: left;
}
#rightdownregion{
    height: 200px;
    width: 500px;
    background: #888888;
    float: left;
}
.contP{
    color: #ffffff;
}
#bar{
    height: 5px;
    width: 0%;
    background: #ffff00;
}
